<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="localEntities" connectionString="metadata=res://*/Dados.localModel.csdl|res://*/Dados.localModel.ssdl|res://*/Dados.localModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\DB.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>